* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;

}

.container::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 35%;
  height: 100vh;
  top: 45vw;
  left: 32vw;
  border-radius: 50%;
  background-color: rgb(242, 187, 182);
  box-shadow: 0 0 0 3vw rgb(232, 167, 145), 0 0 0 6vw rgb(227, 121, 105), 0 0 0 22vw rgb(240, 240, 240), 0 0 0 40vw rgb(232, 232, 232), 0 0 0 65vw rgb(223, 223, 223);
}

.content-heading {
  text-align: center;
  font-size: 300%;
}

.content-description {
  padding: 2rem 15rem;
  line-height: 1.5rem;
}
.content-description p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.719);

}
.Terms-Conditions content-heading{
  margin-top: -3rem;
}
.Terms-Conditions p{
  font-size: 1rem;
}