* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.navbar {
    display: flex;
    height: 82px;
    justify-content: space-between;
    margin: 20px auto;
    width: 80vw;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    width: 30rem;
}

.btn-signup {
    color: #ffffff;
    background: #131415;
    border-radius: 6px;
    padding: 5px 15px;
}

li {
    text-transform: uppercase;
    color: #131415;
    font-size: 14px;
    /* font-weight: bold; */
    list-style: none;
}

.logo {
    height: 5rem;
    width: 15rem;
    background-image: linear-gradient(rgba(223, 223, 223, 0.014), rgba(223, 223, 223, 0.623)), url(./logo.PNG);
    background-size: cover;
}
.icon{
    margin-right: .5rem;
}
a{
 text-decoration: none;
}
.menu-bar{
    font-size: 1.2rem;
}